# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Arquivos do graddle para não subir
../build
../HELP.md
/build/
/HELP.md
../gradle
.build/
.gradle/

